{% extends 'base.html.twig' %}

{% block main %}
<div class = "booking">
<form name="booking" action="{{ path('booking_create') }}" method = "post">


<div class="form-group">
    <label class="font-login" >CheckIn</label>
    <input type="text" name="booking[checkin]" class="form-control"type="text" onfocus="(this.type='date')"  id="datein"  placeholder="CheckIn">
  </div>

<div class="form-group">
    <label class="font-login" >CheckOut</label>
    <input type="text" name="booking[checkout]" class="form-control"type="text" onfocus="(this.type='date')"  id="dateout"  placeholder="CheckIn">
  </div>

<div class="form-group">
    <label class="font-login" >Full Name</label>
    <input type="text" name="booking[name]" class="form-control"type="text"   placeholder="Full Name">
  </div>

  <div class="form-group">
    <label class="font-login" or="exampleInputEmail1">Email address</label>
    <input type="email" name="booking[email]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

<div class="form-group">
    <label class="font-login" >Telefon</label>
    <input type="text" name="booking[gsm]" class="form-control"type="text"   placeholder="Telefon">
  </div>

<div class="form-group">
    <label class="font-login" >Guests</label>
    <input type="number" min="1" max="5" placeholder="Guests" name="booking[guests]" class="form-control" >
  </div>

<input type="hidden" name="_csrf_token" value="{{ csrf_token ('register') }}"/>
{{ form_row(form._token) }}
<input class="btn btn-success" type="submit" value="Booking">x
</form>
</div>

{% endblock %}