  {% extends 'base.html.twig' %}

  {% block main %}
  <div class="register">
  <form class="login" name="register" action="{{ path('user_register') }}" method = "post">
  <div class="form-group">
      <label class="font-login" or="exampleInputEmail1">Email address</label>
      <input type="email" name="user[email]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label class="font-login" for="exampleInputPassword1">Password</label>
      <input type="password" name="user[password]" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label class="font-login" for="exampleInputEmail1">Full Name</label>
      <input type="text" name="user[fullName]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Full Name">
    </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token ('register') }}"/>
  <input class="btn btn-success" type="submit" value="Register">
  </form>
  </div>

  {% endblock %}